__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/
env/

.ipynb_checkpoints/

data/
datasets/
DATASETS/
runs/

slurm-*.out
*.log

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

*.pt
*.onnx
*.h5
*.keras

*.tmp
*.bak
